* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #641b4e;
}
section {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
    min-height: 100vh;
}
section .logo {
    position: fixed;
    top: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    z-index: 100;
    cursor: pointer;
}
.bg {
    position: absolute;
    top: 0;
    right: 60px;
    height: 100%;
}
.content {
    position: relative;
    max-width: 650px;
    z-index: 1;
}
section .content h2 {
    color: #fff;
    font-size: 2em;
    line-height: 1.1em;
}
section .content p {
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}
section .content a {
    color: #fff;
    background: #f60f20;
    font-size: 1em;
    margin: 20px 0;
    font-weight: 500;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}
.copyrighttext {
    color: #fff;
    position: absolute;
    bottom: 20px;
    margin: 20px 0;
    font-size: 1.1em;
}
.menuToggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #f60f20 url("img/menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
    z-index: 1000;
}
.menuToggle.active {
    background:#f60f20 url("img/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
} 
.navigation {
    position: fixed;
    top: 0;
    left: calc(100% - 60px);
    width: 100%;
    height: 100%;
    background:url("img/pexels-furkanfdemir-5018182.jpg") center center/cover no-repeat;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.navigation.active {
    left: 0px;
}
.navigation ul {
    position: relative;
    list-style: none;
    text-align: center;
}
.navigation ul li {
    display: inline-block;
    text-shadow: 4px 7px 8px #111;
    animation: textanimate 1.5s linear;
    animation-iteration-count: infinite;
}
.navigation ul.menu {
   top: -35%;
}
.navigation ul.menu a {
   margin-left: 70px;
}
@keyframes textanimate {
    100% {
        text-shadow: 4px 5px 6px #fff;
    }
}
.navigation ul li a {
    font-size: 2.5em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    transition: 0.3s;
  
}
.navigation ul li a:hover {
    color: #f60f20;
}
.socialbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    border-right: 5px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.socialbar ul {
    position: relative;
}
.socialbar ul li {
    position: relative;
    list-style: none;
}
.socialbar ul li a {
    position: relative;
    display: inline-block;
    transform: scale(0.6);
   
}
.socialbar .emailBx {
    position: absolute;
    bottom: 20px;
    transform: scale(0.6);
}
@media (max-width:760px) {
    section {
        padding: 100px 40px;
    }
    section .content h2 {
        font-size: 2.5rem;
    }
    .navigation {
        left: 100%;
    }
    .navigation .menu {
      margin-top: 30rem;
      opacity: 0.9;
      -webkit-text-stroke: 1px #111;
    }
    section .bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }
    section .logo {
        top: 20px;
        font-size: 1.5rem;
    }
    .navigation ul li a {
        font-size: 2em;
        color: #fff5f5;
        text-decoration: none;
        font-weight: 100;
        margin: 0px 80px;
    }
    .socialbar {
        width: 40px;
    }
    .socialbar ul li a  {
        transform: scale(0.4);
    }
    .socialbar .emailBx{
        transform: scale(0.4);
    }
    .menuToggle{
        width: 40px;
        height: 40px
    }
    .menuToggle.active {
        background-size: 15px;
    }
}